/* Button style*/
.primary-btn{
    max-height: 38px;
    border-radius: 4px;
    padding: 12px;
    @include primary-btn
}

.primary-btn-small{
    max-height: 18px;
    border-radius: 12px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 0.5rem;
    @include primary-btn
}

.secondary-btn{
    max-height: 38px;
    border: solid 0.1rem $secondary-color;
    width: auto;
    background-color: transparent;
    border-radius: 4px;
    font-family: $font-family;
    color: $secondary-color;
    padding: 10px;
}
.secondary-btn:hover{
    cursor: pointer;
}